{% extends "application.html" %}

{% block html_attribs %} lang="pt-BR" {% endblock %}

{% block title %}Partilivro{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
<div class="container">
   <div class="page-header">
      <h1 class="text-center text-primary">Partilivro</h1>
   </div>
   {% if tasks|length < 1 %} <h4 class="text-center text-warning">Não há livros cadastrados, cadastre abaixo!</h4>
      {% else %}
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Nome do Exemplar</th>
               <th>Categoria</th>
               <th>Data de Cadastro</th>
               <th>Data de devolução</th>
               <th>Tempo Emprestado</th>
               <th>Status</th>
               <th>Ações</th>
            </tr>
         </thead>
         <tbody>
            {% for task in tasks %}
            <tr>
               <td class="align-middle">{{ task.description }}</td>
               <td class="align-middle">{{ task.category }}</td>
               <td class="align-middle">{{ task.date_created.date() }}</td>
               <td class="align-middle">{{ task.time_estimated }}</td>
               <td class="align-middle">{{ task.time_spend }}</td>
               <td class="align-middle">{{ task.status }}</td>
               <td class="align-middle actions">
                  <a class="btn btn-success" href="/start/{{task.id}}">Emprestar</a> |
                  <a class="btn btn-success" href="/update/{{task.id}}">Atualizar</a> |
                  <a class="btn btn-success" href="/done/{{task.id}}">Devolver</a> |
                  <a class="btn btn-danger" href="/delete/{{task.id}}">Apagar</a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% endif %}

      <form class="form-inline" action="/" method="POST">
         <div>
            <label for="description">Adicionar Novo Exemplar<br></label>
         </div>
         <div class="form-group">
            <label for="description">Nome do Livro: </label>
            <input type="text" class="form-control" name="description" id="description">
            <label for="description">Data de devolução: </label>
            <input type="text" class="form-control" name="time_estimated" id="time_estimated">
            <label for="description">Categoria: </label>
            <select name="category" id="category" class="form-control" >
               <option value="Romance">Romance</option>
               <option value="Infantil">Infantil</option>
               <option value="História">História</option>
               <option value="Aventura">Aventura</option>
               <option value="Suspense">Suspense</option>
               <option value="Drama">Drama</option>
               <option value="Terror">Terror</option>
            </select>
            <button type="submit" class="btn btn-primary">Add</button>
         </div>
      </form>
</div>
{% endblock %}